<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/main.css">
    <title>Tech Bookstore</title>
</head>
<body>
    <h1>Tech Bookstore</h1>
	<p>there are <%=books.length%> books</p>
	<% books.forEach(book=> { %>
		<div class="book">
			<a href="<%=book.url%>" target="_blank"> <img src="images/<%=book.isbn%>.jpg"
				alt=""></a>
			<div class="info">
				<div class="title">
					<%=book.title%>
				</div>
				<div class="author">by <span class="main">
						<%=book.author.firstName%>
							<%=book.author.lastName%>
					</span></div>
				<ul class="customers">
				<div class="header">People who have bought this book:</div>
					<% book.customers.forEach(customer=> { %>
						<li>
							<%=customer.firstName%>
								<%=customer.lastName%>
					<span class="email">(<%=customer.email%>)</span>
						</li>
						<% })%>
				</ul>
			</div>
		</div>
		<% });
		%>
</body>
</html>